<a href="/bakeries">Bakeries</a>
<a href="/businesses">Businesses</a>
<a href="/employees">Employees </a>
<a href="/pastries">Pastries</a>

<h1>All Businesses</h1>

<ul id="businesses">
  <% @businesses.each do |business| %>
    <li>
      <a href="/businesses/<%=business.id %>"><%=business.name%></a>
      <%=business.created_at%>
    </li>
  <% end %>
</ul>

<%= link_to "Create a New Business", '/businesses/new' %><br><br>
