<h1>All Businesses</h1>

<ul id="businesses">
  <% @businesses.each do |business| %>
    <li>
      <%= link_to businesses.name, businesses_path(business) %>
    </li>
  <% end %>
</ul>

<%= link_to "Create a New Business", new_businesses_path, class: "new-business" %>
