<h1>All Bakeries</h1>

<ul id="bakeries">
  <% @bakeries.each do |bakery| %>
    <li>
      <%= link_to bakery.name, bakery_path(bakery) %>
    </li>
  <% end %>
</ul>

<%= link_to "Create a New Bakery", new_bakery_path, class: "new-bakery" %>
