<a href="/bakeries">Bakeries</a>
<a href="/businesses">Businesses</a>
<a href="/employees">Employees </a>
<a href="/pastries">Pastries</a>
<h1>Pastries</h1>

<% @pastries.each do |pastry| %>
  <h3>name: <%= pastry.name %></h3>
  <h4>gluten_free: <%= pastry.gluten_free %></h4>
  <h4>$<%= pastry.price %></h4>
  <a href="/pastries/<%=pastry.id%>/edit ">Edit</a>
  <p>---------</p>
<% end %>
